/*!
    @import /amethyst_input/src/bindings.rs#Bindings, StringBindings
    Bindings<StringBindings>
*/

(
    axes: {
        "ship_rudder": Emulated(
            pos: Key(Right),
            neg: Key(Left),
        ),
        "ship_engine": Emulated(
            pos: Key(Up),
            neg: Key(Yen), // You may only reverse the ship if you have a yen key on your keyboard
        ),
    },
    actions: {

    },
)

